html{
    font-family: "Arial", "serif";
    background-color: #8b8bdd5d; /*8b8bdd83*/
    height: 100%;
    cursor: default;
    font-weight: 500;

    min-width: 900px;
}

body{
    display: flex;
    flex-direction: column;
}

#page{
    width: auto;
}

header{
    color: #050505;
    margin: 0vh 5vh 0vh 5vh;

    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    
    border-bottom: 6px black solid;
}

#titre_principale{
    font-size: 170%;

    display: flex;
    align-items: center;

    white-space: nowrap;
}

#titre_principale:hover{
    transform: scale(1.02);
    
    transition : all 0.5s ease-in-out; 
    -o-transition : all 0.5s ease-in-out;
    -moz-transition : all 0.5s ease-in-out;
    -webkit-transition : all 0.5s ease-in-out;
}

@media screen and (max-width: 900px)
{
    #CASPAPICO{
        display: none;
    }
}

#logo_principale{
    width: 170px;
}

#nav_principale{
    font-size:160%;
    margin: 0vh 0vh 5vh 0vh;
    
    display: flex;
    justify-content: space-around;
    
    text-decoration: none;
    list-style-type: none;
    white-space: nowrap;

    position: relative;
}

a{
    color: black;
    text-decoration: none;
}

nav li{
    padding-right: 15px;
}

#nav_principale :hover{
    transform: scale(1.1);

    transition : all 150ms ease-in-out; 
    -o-transition : all 150ms ease-in-out;
    -moz-transition : all 150ms ease-in-out;
    -webkit-transition : all 150ms ease-in-out;
}

.nav_link{
    color: #050505;
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: space-around;
    
    border-top: 3px black solid;

    margin: 2vh 5vh 0vh 5vh;
}

.link{
    color: #050505;
    margin-right: 25px;
    text-decoration: none;
}

#page_courante{
    font-weight: bold;
    text-decoration: underline;
}

#sous_titre_principale{
    font-size: 110%;

    display: flex;
    justify-content: space-around;

    margin: 0vh 5vh 0vh 5vh;
    padding: 0.5vh 1vh 0.5vh 1vh;

    border-bottom: 3px black solid;
    border-radius: 0px 0px 5px 5px;
}

#sous_titre_principale .fonction{
    color: #050505;
    margin: 0vh 10vh 0vh 10vh;
    
    text-decoration: none;
}

#logo_supervisor{
    width: 100%;
    size: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo_supervisor #LOGO_SU{
    width: 150px;
}

#logo_supervisor #LOGO_INSU{
    width: 70px;
}

#logo_supervisor #LOGO_LATMOS{
    width: 150px;
}

#logo_supervisor #LOGO_PARTICITAE{
    width: 90px;
}

#select{
    display: flex;
    justify-content: center;

    margin: 2vh 5vh 0vh 5vh;
}

.button_nav_appareils{
    font-size: 120%;

    display: inline-block;
    text-align: center;
    align-items: center;

    cursor: pointer;
    inline-size: 100%;
    border: black 3px solid;
}

.lien_nav_appareils{
    width:inherit;
}

#liste_appareils{
    background-color: #9c8cc1;
    border-radius: 5px 20px 0px 0px;
}

.border{
    background-color: gray;
    border: 2px black solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.object{
    margin: 0vh 5vh 0vh 5vh;
}

.corps_accueil{
    background-color: #c1edfd;

    font-size: 110%;
    min-height: fit-content;

    margin: 2vh 5vh 0vh 5vh;

    justify-content: center;

    border-radius: 5px 5px 5px 5px;
    border: black 3px solid;

    overflow-y: auto;
}

.accueil_titre{
    display: flex;
    justify-content: center;
    align-items: center;


    border-bottom: 2px black solid;
    border-top: 2px black solid;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 400%;
}

.baniere{
   width: 100%;
   height: 400px;

   display: flex;
}

.baniere_ext_1_droite{
    width: 100%;
}


.baniere_ext_2_gauche{
    width: 100%;
}

.baniere_ext_2_droite{
    width: 30%;
}

.carte_baniere_gauche_info_contenu{
    position: relative;

    font: 500;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;  

    text-align: center;
}

.carte_baniere_gauche_info{
    position: relative;
    top: -5%;
    width: 0px;

    visibility: hidden;
    opacity: 0;

    transition : all 0.5s ease-in-out; 
    -o-transition : all 0.5s ease-in-out;
    -moz-transition : all 0.5s ease-in-out;
    -webkit-transition : all 0.5s ease-in-out;

    transform: translateX(250px);
}

.carte_baniere_droite_info_contenu{
    position: relative;

    font: 500;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.carte_baniere_droite_info{
    position: relative;
    top: 0%;
    right: 0%;
    width: 0px;

    visibility: hidden;
    opacity: 0;

    transition : all 0.5s ease-in-out; 
    -o-transition : all 0.5s ease-in-out;
    -moz-transition : all 0.5s ease-in-out;
    -webkit-transition : all 0.5s ease-in-out;

    transform: translateX(-300px);
}


.baniere:hover .carte_baniere_gauche_info{
    visibility: visible;
    opacity: 100;
    transform: translateX(400px);
}

.baniere:hover .carte_baniere_droite_info{
    visibility: visible;
    opacity: 100;
    transform: translateX(-350px);
}

.corps_object_mes_appareils{
    background-color: #b1cddf;

    font-size: 110%;
    min-height: 650px;
    max-height: 1000px;

    display: flex;

    border: black 3px solid;
    border-top: none;

    overflow-y: auto;
}

.corps_object_liste{
    background-color: #9c8cc1;

    font-size: 110%;
    min-height: 650px;
    max-height: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: black 3px solid;
    border-top: none;
    
    overflow-y: auto;
}

.corps_object_liste::-webkit-scrollbar{
    width: 10px;
    background-color: #dddddd;
    border-left: 3px black solid;
}

.corps_object_liste::-webkit-scrollbar-thumb
{
    background-color: #6f6f6f;
    border: 3px black solid;
    border-right: none;
}

#mes_appareils{
    background-color: #b1cddf;
    border-radius: 20px 5px 0px 0px;
}

#mes_appareils_liste{
    width: 200px;

    position: relative;
    border-right: 3px black solid;
    overflow-y: auto;
}

#mes_appareils_liste::-webkit-scrollbar{
    width: 10px;
    background-color: #dddddd;
    border-left: 3px black solid;
}

#mes_appareils_liste::-webkit-scrollbar-thumb
{
    background-color: #6f6f6f;
    border: 3px black solid;
    border-right: none;
}

.ajout_appareil_corps{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-content: center;
}

#ajout_appareil{
    background-color: #eaeaea;
    font-size: 110%;
    width: 100%;

    position: sticky;
    top: 0px;

    display: inline-block;
    text-align: center;
    align-items: center;

    border-bottom: 3px solid black;
    border-left: none;
    border-right: none;

    text-decoration: none;
    cursor: pointer;

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#ajout_appareil:hover{
    transform:scale(0.95);
    border: rgb(255, 65, 65) 3px solid;
    border-radius: 5%;
    
    transition : all 2s ease-in-out; 
    -o-transition : all 2s ease-in-out;
    -moz-transition : all 2s ease-in-out;
    -webkit-transition : all 2s ease-in-out;
}

.ligne_form{
    border-bottom: 3px #6a6a6a solid;
    border-radius: 0px 0px 0px 15px;
}

#required_form{
    align-self: center;
    font-style: italic;
}

.form_ajout_appareil{
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.label_form{
    width: 25%;
    min-width: 200px;
    margin: 0vh 0vh 0vh 5%;
}

.input_form{
    width: 75%;
    min-width: 150px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
}

.form_ajout_appareil div{
    display: flex;
    align-items: center;
    padding: 10px;
}

#ajout_description{
    height: 100px;
}

.error_header{
    background-color: rgb(220, 60, 60);
    color: black;
    padding: 4px 0 4px 10px;
    display: block;
    border-radius: 10px;
    margin: 10px 10px 0 10px;
    font-weight: bold;
}

#boutton_submit{
    font-size: 105%;

    width: 15%;
    margin-left: 50%;

    border-radius: 3px;

    cursor: pointer;
}

.un_appareil{
    font-size: 120%;
    background-color: #67acd3;
    width: 100%;
    height: 75px;
   
    border: none;
    cursor: pointer;

    word-wrap: break-word;
    overflow: hidden;
}

.un_appareil_actif{
    font-size: 140%;
    font-weight: bold;
    background-color: rgb(34, 142, 204);
    width: 100%;
    height: 75px;
  
    border: none;
    cursor: pointer;
}

#mes_appareils_info{
    width: 100%;
    min-width: 100px;

    overflow: auto;
}

#mes_appareils_info::-webkit-scrollbar{
    width: 10px;
    background-color: #dddddd;
    border-left: 3px black solid;
}

#mes_appareils_info::-webkit-scrollbar-thumb
{
    background-color: #6f6f6f;
    border: 3px black solid;
    border-right: none;
}

.un_appareil_info_actif, .un_appareil_info_fav_actif{
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
}

h2{
    font-size: 250%;
}

h3{
    font-size: 180%;
    display:flex;
    
    position:relative;
    align-self: center;
    margin-right: 20vh;
    white-space: nowrap;
}

h4{
    font-size: 160%;

    align-self: center;
    white-space: nowrap;
}

h5{
    font-size: 140%;

    align-self: center;
    white-space: nowrap;
}

h6{
    font-size: 250%;

    white-space: nowrap;
}

h7{
    font-size: 130%;
    width: 500px;

}

h8{
    text-align: center;

    font-size: 100%;
    font-weight: 700;

    align-self: center;
    word-break: break-word;

    text-decoration: none;
}

#appareil_accueil{
    display: none;
}

#appareil_accueil_info{
    margin: 10vh 5vh 0vh 5vh;
    border:3px green solid;
}

.un_appareil_info_cache, .un_appareil_info_fav_cache{
    display: none;
}

.appareil_corps{
    display: flex;
    flex-direction: column;
}

.un_appareil_info_contenu{
    margin: 10vh 0vh 0vh 3vh;
    border-bottom: 3px rgb(106, 106, 106) solid;
    border-left: 5px rgb(106, 106, 106) solid;
    border-radius: 0px 0px 0px 15px;
    
    width: 50%;
}

.tableau_nom_info{
    font-weight: 600;
    font-size: 110%;
    width: 35%;
}

.tableau_info{
    width: 65%;
    max-height: 300px;

    font-size: 110%;

    white-space: normal;
}

.rouage{
    background-color: #ffffff;

    position: absolute;
    width: 130px;
    height: 135px;
    top: 10px;
    right: 10px;

    display: inline-block;
    text-align: center;
    align-items: center;

    text-decoration: none;
    border: 3px black solid;
    border-radius: 25%; 

    cursor: pointer;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.rouage:hover{
    transform:scale(0.92);
    border: rgb(255, 65, 65) 3px solid;
    
    transition : all 2s ease-in-out; 
    -o-transition : all 2s ease-in-out;
    -moz-transition : all 2s ease-in-out;
    -webkit-transition : all 2s ease-in-out;
}

.rouage:hover  #logo_rouage1{
    transform: rotate(360deg);
    transition : all 2s ease-in-out; 
    -o-transition : all 2s ease-in-out;
    -moz-transition : all 2s ease-in-out;
    -webkit-transition : all 2s ease-in-out;
}

.rouage:hover  #logo_rouage2{
    transform: rotate(720deg);
    
    transition : all 2.5s ease-in-out; 
    -o-transition : all 2.5s ease-in-out;
    -moz-transition : all 2.5s ease-in-out;
    -webkit-transition : all 2.5s ease-in-out;
}

.rouage:hover  #logo_rouage3{
    transform: rotate(1080deg);
    
    transition : all 3s ease-in-out; 
    -o-transition : all 3s ease-in-out;
    -moz-transition : all 3s ease-in-out;
    -webkit-transition : all 3s ease-in-out;
}

#logo_rouage1{
    width: 70px;
    position: relative;
    top: 60px;
    right: -2px;
}

#logo_rouage2{
    width: 50px;
    position: relative;
    top: -15px;
    right: 5px;   
}

#logo_rouage3{
    width: 30px;
    position: relative;
    top: -45px;
    right: 10px;
}

.appareillage{
    background-color: transparent;
    font-size: 110%;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    
    width: 320px;

    margin: 3vh 0vh 0vh 3vh;
    border-bottom: 3px rgb(106, 106, 106) solid;
    border-left: 5px rgb(106, 106, 106) solid;
    border-radius: 0px 0px 0px 15px;
    border-top: none;
    border-right: none;

    cursor: pointer;
}

#logo_appareillage{
    width: 60px;
}

.appareillage:hover{
    transform: scale(1.01);
    border-bottom: 3px rgb(255, 65, 65) solid;
    border-left: 5px rgb(255, 65, 65) solid;
    border-top: none;
    border-right: none;
    
    transition : all 2s ease-in-out; 
    -o-transition : all 2s ease-in-out;
    -moz-transition : all 2s ease-in-out;
    -webkit-transition : all 2s ease-in-out;
}

#overlay_appareillage{
    background-color: #3939399b;
    width: 100%;
    height: 100%;

    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.form_appareillage{
    font-size: 60px;
    background-color: rgba(57, 57, 57, 0.897);
    color: whitesmoke;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;

    padding: 75px 100px 75px 100px;
    
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transition-delay: 10s;

    border: 5px black solid;
    border-radius: 30px;

    white-space: nowrap;
}

.appareillage_close{
    background-color: transparent;
    width: 100px;
    height: 100px;

    font-size: 80px;
    font-weight: bolder;

    position: absolute;
    top: 0px;
    right: 0px;

    border: 5px black solid;
    border-radius: 100%;
    transform: rotate(45deg);

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    cursor: pointer;
}

.appareillage_close:hover{
    transform: scale(0.92) rotate(45deg);
    border: rgb(255, 65, 65) 5px solid;
    background-color: #7d7d7dbd;

    transition : all 2s ease-in-out; 
    -o-transition : all 2s ease-in-out;
    -moz-transition : all 2s ease-in-out;
    -webkit-transition : all 2s ease-in-out;

    
}

.appareillage_ligne_form{
    font-size: 105%;
    display: flex;
    flex-direction: column;

    margin: 3vh 0vh 3vh 0vh;
}

.appareillage_label_form{
    margin: 2vh 0vh 2vh 0vh;
    font-weight: 600;
}

.appareillage_input_form{
    font-size: large;
    height: 30px;
    
}

#appareillage_boutton_submit{
    font-size: large;
    width: 200px;

    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number]{
    -moz-appearance: textfield;
}

.appareil_parametre{
    font-size: 120%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.form_parametre_appareil{
    margin: 0vh 0vh 3vh 3vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    white-space: nowrap;
}

.parametre_nom_info{
    font-weight: 600;
    font-size: 110%;
    width: 250px;
    max-width: 250px;

    margin: 10vh 0vh 10vh 0vh;

    white-space: nowrap;
}

.parametre_info{

    width: 300px;

    white-space:normal;
}

.parametre_input_form{
    font-size: 100%;

    margin-left: 5vh;

    width: 60%;
    height: 30px;

    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
}

.parametre_select_form{
    font-size: 100%;

    margin-left: 5vh;

    width: 61.1%;
    height: 30px;

    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
}

.parametre_input{
    font-size: 110%;

    margin-left: 5vh;

    width: 80%;
    min-height: 200px;

    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
}

.parametre_trois_boutton{
    display: flex;
    justify-content: center;

}
.centre_bouttons{
    width: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
}

.parametre_boutton{
    font-size: 100%;
    
    margin: 0vh 1vh 0vh 5vh;

    border-radius: 3px;

    cursor: pointer;
}

.form_barre_recherche{
    width: 80%;
    min-height: 0px;
    height: 0px;

    background-image: radial-gradient(circle, #6c5999, #9c8cc1); 

    display: flex;
    flex-direction: column;

    justify-content: end;

    border-bottom: 3px black solid;

    margin-top: 5vh;

    overflow-y: hidden;
    transition : all 0.5s ease-in-out; 
    -o-transition : all 0.5s ease-in-out;
    -moz-transition : all 0.5s ease-in-out;
    -webkit-transition : all 0.5s ease-in-out;
}

.ligne_recherche{
    display: flex;
    justify-content: center;

    margin: 0vh 5vh 2vh 5vh;
}

.ligne_recherche_filtre{
    display: flex;
    justify-content: space-evenly;

    margin: 0vh 5vh 2vh 5vh;
}

.recherche_text{
    width: 50%;
    height: 25px;

    padding: 5px;
    outline: none;

    border: 3px solid black;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.recherche_submit{
    color: #ccc;
    width: 40px;
    background: black;

    display: flex;
    justify-content: center;
    align-content: center;

    border: 3px solid black;
    border-radius: 0 5px 5px 0;

    cursor: pointer;
}

#loupe_recherche{
    width: 30px;
}

.ligne_case_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.input_recherche_form{
    width: 175px;
    height: 25px;
    border: 3px solid black;
    border-radius: 0 5px 5px 0;

    cursor: pointer;
}

.open_barre_overlay{
    height: 40px;
    display: flex;

    overflow-y: hidden;

    transition : all 0.5s ease-in-out; 
    -o-transition : all 0.5s ease-in-out;
    -moz-transition : all 0.5s ease-in-out;
    -webkit-transition : all 0.5s ease-in-out;
}

.open_barre_recherche{
    height: 40px;
    background-color: black;

    border: 3px black solid;
    border-radius: 0% 0% 50% 50%;

    cursor: pointer;
}

#open_barre_recherche_left{
    width: 40px;
    height: 20px;
    border-radius: 0% 50% 0% 0%;
    
    box-shadow: 10px -2px 0px 0px black;
}

#open_barre_recherche_right{
    width: 40px;
    height: 20px;
    border-radius: 50% 0% 0% 0%;

    box-shadow: -10px -2px 0px 0px black;
}

.close_barre_overlay{
    height: 40px;

    display: flex;
    justify-content: center;

    cursor: pointer;
}

.close_barre_recherche{
    height: 40px;
    background-color: black;

    border: 3px black solid;
    border-radius: 50% 50% 0% 0%;

    cursor: pointer;

    overflow-y: visible;

    align-self: flex-end;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#close_barre_recherche_left{
    align-self: flex-end;

    width: 40px;
    height: 20px;
    border-radius: 0% 0% 50% 0%;
    
    box-shadow: 7px 2px 0px 0px black;
}

#close_barre_recherche_right{
    align-self: flex-end;

    width: 40px;
    height: 20px;
    border-radius: 0% 0% 0% 50%;
    
    box-shadow: -7px 2px 0px 0px black;
}

.carte_appareil_liste{
    width: 95%;
    margin: 10px 10px 10px 10px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carte_appareil{
    height: 275px;
    width: 275px;
    
    background-color: #986f82;

    display: flex;
    flex-direction: column;
    
    align-items: center;

    margin: 10px 3vh 10px 3vh;

    cursor: pointer;

    transition : all 2.5s ease-in-out; 
    -o-transition : all 2.5s ease-in-out;
    -moz-transition : all 2.5s ease-in-out;
    -webkit-transition : all 2.5s ease-in-out;

    border: 5px black solid;
    border-radius: 5%;
    
}

.carte_appareil_image_emplacement{
    height: 125px;
    width:100%;

    background-color: #ccc;

    position: relative;
    top: 15%;

    transition : all 0.5s ease-in-out; 
    -o-transition : all 0.5s ease-in-out;
    -moz-transition : all 0.5s ease-in-out;
    -webkit-transition : all 0.5s ease-in-out;

    border-top: 3px black solid;
    border-bottom: 3px black solid;
}

.carte_appareil_image{
    height: 100%;
    width: 100%;

    object-fit: contain;   
}

.carte_appareil_nom{
    position: relative;
    top:2%;

    transition : all 0.9s ease-in-out; 
    -o-transition : all 0.9s ease-in-out;
    -moz-transition : all 0.9s ease-in-out;
    -webkit-transition : all 0.9s ease-in-out;
}

.carte_appareil_info_contenu{
    
    font: 500;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.carte_appareil_info{
    position: relative;
    top: 0%;

    visibility: hidden;
    opacity: 0;

    transition : all 0.5s ease-in-out; 
    -o-transition : all 0.5s ease-in-out;
    -moz-transition : all 0.5s ease-in-out;
    -webkit-transition : all 0.5s ease-in-out;
}

.carte_appareil:hover{
    background: #6c5999;
    background: linear-gradient(135deg, #6c5999 10%, #986f82 90%);
}

.carte_appareil:hover .carte_appareil_image_emplacement{
    top: 5%;
}

.carte_appareil:hover .carte_appareil_nom{
    top: -5%;
}

.carte_appareil:hover .carte_appareil_info{
    visibility: visible;
    top: -10%;
    opacity: 100;
}

#favoris{
    background-color: #9c8cc1;
    border-radius: 5px 20px 0px 0px;
}

#map_monde{
    background-color: #a2deb2;
    border-radius: 20px 20px 0px 0px;
}

#historique{
    background-color: #b1cddf;
    border-radius: 20px 5px 0px 0px;
}

.corps_object_historique{
    background-color: #b1cddf;

    font-size: 110%;
    min-height: 650px;
    max-height: 1000px;

    display: flex;

    border: black 3px solid;
    border-top: none;

    overflow-y: auto;
}

.corps_object_favoris{
    background-color: #9c8cc1;

    font-size: 110%;
    min-height: 650px;
    max-height: 1000px;

    display: flex;

    border: black 3px solid;
    border-top: none;

    overflow-y: auto;
}

.corps_object_map_monde{
    background-color: #a2deb2;

    font-size: 110%;
    min-height: 650px;
    max-height: 1000px;

    display: flex;

    border: black 3px solid;
    border-top: none;

    overflow-y: auto;
}

.un_appareil_fav_actif{
    font-size: 140%;
    font-weight: bold;
    background-color: #6343ae;
    width: 100%;
    height: 75px;
  
    border: none;
    cursor: pointer;
}

.un_appareil_fav{
    font-size: 120%;
    background-color: #755cb0;
    width: 100%;
    height: 75px;
   
    border: none;
    cursor: pointer;

    word-wrap: break-word;
    overflow: hidden;
}

.corps_apropos{
    background-color: #b1a1d6;

    font-size: 110%;
    min-height: fit-content;

    margin: 2vh 5vh 0vh 5vh;

    justify-content: center;

    border-radius: 5px 5px 5px 5px;
    border: black 3px solid;

    overflow-y: auto;
}

.apropos_section{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 2px black solid;
    border-radius: 20px;
}

.apropos_msg{
    font-size: 120%;
    width: 62%;

    text-align: center;

    margin-bottom: 5vh;
}

.section_carte{
    width: 100%;
    display: flex;

    margin-bottom: 5vh;

    justify-content: center;
    flex-wrap: wrap;
}

.apropos_carte{
    height: 270px;
    width: 200px;
    
    background-color: #986f82;

    display: flex;
    flex-direction: column;
    
    align-items: center;

    margin: 10px 3vh 10px 3vh;

    cursor: pointer;

    transition : all 2.5s ease-in-out; 
    -o-transition : all 2.5s ease-in-out;
    -moz-transition : all 2.5s ease-in-out;
    -webkit-transition : all 2.5s ease-in-out;

    border: 5px black solid;
    border-radius: 5%;
    
    text-decoration: none;
}

.apropos_carte_image_emplacement{
    height: 125px;
    width: 100%;

    background-color: #CDCFCE;

    position: relative;
    top: 15%;

    transition : all 0.5s ease-in-out; 
    -o-transition : all 0.5s ease-in-out;
    -moz-transition : all 0.5s ease-in-out;
    -webkit-transition : all 0.5s ease-in-out;

    border-top: 3px black solid;
    border-bottom: 3px black solid;
}

.apropos_carte_image{
    height: 100%;
    width: 100%;

    object-fit: contain;   
}

.apropos_carte_nom{
    width: 90%;
    display: flex;
    justify-content: center;

    position: relative;
    top:20%;

    transition : all 0.9s ease-in-out; 
    -o-transition : all 0.9s ease-in-out;
    -moz-transition : all 0.9s ease-in-out;
    -webkit-transition : all 0.9s ease-in-out;
}

.apropos_carte_info_contenu{
    
    font: 500;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.apropos_carte_info{
    width: 20%;

    position: relative;
    top: 25%;

    visibility: hidden;
    opacity: 0;

    transition : all 0.5s ease-in-out; 
    -o-transition : all 0.5s ease-in-out;
    -moz-transition : all 0.5s ease-in-out;
    -webkit-transition : all 0.5s ease-in-out;
}

.apropos_carte:hover{
    background: #6c5999;
    background: linear-gradient(135deg, #6f54ae 10%, #be7999 90%);
}

.apropos_carte:hover .apropos_carte_image_emplacement{
    top: 5%;
}

.apropos_carte:hover .apropos_carte_nom{
    top: 10%;
}

.apropos_carte:hover .apropos_carte_info{
    visibility: visible;
    top: 20%;
    opacity: 100;
}

.modele_3D{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
}

.lien_github{
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

    margin-left: 40px;
}

.logo_github{
    width: 300px;

    margin-top: 30px;
}

model-viewer{
    width: 600px;
    height: 400px;

    border-radius: 20px;
}

