<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>CASPA-PICO</title>
        <link rel="stylesheet" href="../src_css/CASPA-PICO.css" />
        <script src="../src_js/CASPA-PICO.js" defer></script>  
    </head>

    <body>
        <header>
            <div id="titre_principale">
                
                <a class="link" href="../CASPAPICO_ACCUEIL.html"><img src="../images/LOGO_CASPAPICO.png" alt="Logo" id="logo_principale"/></a>
                <a class="link" href="../CASPAPICO_ACCUEIL.html">CASPA-PICO</a>
                
            </div>

            <nav>
                <ul id="nav_principale">
                    <li>
                        <a class="link" href="../CASPAPICO_ACCUEIL.html">Accueil</a>
                    </li>
                    
                    <li>
                        <a class="link" href="../CASPAPICO_APPAREIL/mes_appareils.html">Appareils</a>
                    </li>

                    <li>
                        <a class="link" href="historique.html" id="page_courante">Données</a>
                    </li>

                    <li>
                        <a class="link" href="../CASPAPICO_APROPOS.html">A propos</a>
                    </li>
                </ul>      
            </nav> 

        </header>
        
        <div id="sous_titre_principale">
            <a class="fonction" href="">Visualisez les données de vos appareils favoris et de votre historique ou de l'ensemble de la base de données ici-même !</a>
        </div>
        
        <div id="corps">
            <div id="select">
                <a class="button_nav_appareils" id="favoris"   href="favoris.html">Favoris</a>
                <a class="button_nav_appareils" id="map_monde"  href="map_monde.html">Map monde</a>
                <a class="button_nav_appareils" id="historique" href="historique.html">Historique</a>
            </div>   

            <div class="object">
                <div class="corps_object_map_monde">

                </div>
            </div>
        </div>

        <footer>
            <figure id="logo_supervisor">
                <img src="../images/LOGO_SU.png" alt="LOGO_SU" id="LOGO_SU"/>
                <img src="../images/LOGO_INSU.png" alt="LOGO_INSU" id="LOGO_INSU"/>
                <img src="../images/LOGO_LATMOS.png" alt="LOGO_LATMOS" id="LOGO_LATMOS"/>
                <img src="../images/LOGO_PARTICITAE.png" alt="LOGO_PARTICITAE" id="LOGO_PARTICITAE"/>
            </figure>
        </footer>
    </body>
    
</html>